.header-brand{
	font-family: 'Cookie', cursive;
	font-size: 30px;
}

.navbar{
	padding: 0.25rem 0.5rem !important;
}

.nv-l{
	font-family: 'Ubuntu', sans-serif !important;
	font-size: 20px;
	color: #E4E4E4;
	text-decoration: none;
}

.nv-l:hover{
	color: #A0A0A0;
	transition: 0.5s;
	transition-delay: 0.1s;
	text-decoration: underline;
}

.Cont{
	background: #304352;
	background: -webkit-linear-gradient(to right, #d7d2cc, #304352);
	background: linear-gradient(to right, #d7d2cc, #304352); 
}

.Cont-1{
	background: #232526;
	background: -webkit-linear-gradient(to right, #414345, #232526);
	background: linear-gradient(to right, #414345, #232526);
}